<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <header class="main-header">
        <!-- cabecera de la pagina -->
        <section class="logo-div">
            <img src="/images/logo-mercado-liebre.svg" alt="" width="200" > 
            <form action="">
                <input name="buscar" type="text" placeholder="Buscar productos">
                <button type="submit" name="buscar"><i class="fas fa-search"></i></button>    
            </form>
            <p> 
                <i class="fas fa-hand-holding-usd"></i>
                Compra en cuotas y sin tarjeta de credito
            </p>
        </section>
        <section class="div-nav">
            
                <ul class="ul-1">
                    <li><a href=""> Ofertas </a> </li>
                    <li><a href="">Tiendas oficiales </a> </li>
                    <li><a href="">Vender</a> </li>
                    <li><a href="">Ayuda</a> </li>
                </ul>
            
           
            
                <ul class="ul-2">
                    <li><a href="/register">Crea tu cuenta </a><i class="far fa-id-card"></i></li>
                    <li><a href="/login">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="">Mis compras </a><i class="fas fa-shopping-basket"></i></li> 
                </ul>
                
            
        </section>
        <section class="burger-menu">
            <i class="fas fa-bars"></i>
        </section>       
    </header>

    <main>
        
            <form action="/" class="formulario">
                <label for="nombre-apellido">Nombre-Apellido</label>
                <input type="text" name="nombre-apellido" id="nombre-apellido">

                <label for="nombre-usuario">Usuario</label>
                <input type="text" name="nombre-usuario" id="nombre-usuario">

                <label for="fecha-nacimiento">Fecha de nacimiento</label>
                <input type="date" name="fecha-nacimiento" value="2021-12-08" id="fecha-nacimiento">

                <label for="avatar">Elige una imagen de perfil:</label>
                <input type="file" name="avatar" accept="jpg" multiple id="avatar">

                <label for="domicilio">Domicilio</label>
                <input type="text" name="domicilio" id="domicilio">

                <label for="pregunta">¿Compras? o ¿Vendes?</label>
                <div class="marca">
                    <input type="radio" name="pregunta" id="vendo">
                   
                    <input type="radio" name="pregunta" id="compro">
                </div>

                <label for="categoria">¿Que categorias te interesan?</label>
                <ul class="checkbox1">
                    <li><input type="checkbox" name="categoria1" value="Electro">Electro </li>
                    <li><input type="checkbox" name="categoria2" value="Moda">Moda </li>
                    <li><input type="checkbox" name="categoria3" value="Hogar">Hogar</li>
                    <li><input type="checkbox" name="categoria4" value="Juguetería">Juguetería</li>
                    <li><input type="checkbox" name="categoria5" value="Vida Sana">Vida Sana</li>
                </ul>
            
                <label for="contraseña">Contraseña</label>
                <input type="password" name="contraseña" id="contraseña">

                <label for="confirma-contraseña">Confirma contraseña</label>
                <input type="password" name="confirma-contraseña" id="confirma-contraseña">

                
                <div class="azul">
                <input type="reset" name="borrar" id="borrar">
                </div>

                
                <div class="azul">
                <button type="submit">Enviar</button>
                </div>
            </form>
        
        

    </main>

    <footer>
        <article class="footer-par">
            <div class="footer-icon">
                <i class="fas fa-credit-card"></i>
            </div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <div class="text-f">
                <p><div>Con Mercado Liebre Cash, tenés cuotas sin</div><div>interés con tarjeta o efectivo en
                puntos de</div>pago. ¡Y siempre es seguro!</p>
            </div>
        </article>
        <article class="footer-par">
            <div class="footer-icon">
                <i class="fas fa-gift"></i>
            </div>
            <h3>Envío gratis desde $ 2.500</h3>
            <div class="text-f">
                <p><div>Solo por estar registrad@ en Mercado Liebre</div><div>tenés envíos gratis en miles de
                    productos. Es</div> un beneficio de Mercado Puntos.</p>
            </div>
        </article>
        <article class="footer-par">
            <div class="footer-icon">
                <i class="fas fa-user-shield"></i>
            </div>
            <h3>Seguridad, de principio a fin</h3>
            <div class="text-f">
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </article>
        <br>
        <br>
        <br>
        <div class="copy-r">
            <p> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
        
    </footer>
</body>
</html>