@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");


@media (max-width:361px){
    .div-nav{
        display: none;
    }
}




@media (min-width:361px){
    main .product {
        width: 60vw;
    }

    .div-nav{
        width: auto;
        height: 30px;
        margin: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .ul-1,.ul-2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .ul-1 a,.ul-2 a {
        list-style: none;
        padding: 2px;
        margin: 2px;
        text-decoration: none;
        font-size: 8px ;
        color:black;
    }  
    main .product:hover{
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    footer .footer-par:hover{
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    footer .right:hover{
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    footer :hover .footer-icon{
        color: #0022AA ;
    }
    
}

@media (min-width:769px){
    .ul-1 a,.ul-2 a{
        font-size: 12px;
        font-weight: bold;
    }

    .burger-menu{
        display: none;
    }
    .img-cont img{
        display: none;
    }

    .logo-div img{
        width: 250px;
    }

    .img-cont{
        display: none;
    }
    .main-header{
        height: 150px;
    }

    main .product {
        width: 30vw;
    }

    
}

@media (min-width:1024px){
    .ul-1,.ul-2{
        justify-content: space-around;
    }

    .ul-1 a,.ul-2 a{
        font-size: 16px;
    }

    main .product {
        width: 19vw;
    }

    .main-header{
        height: 200px;
    }

    main .product :hover .description{
        display: inline-block;
    }

    

    @keyframes rotate {
        0%{
            transform: rotate(0deg);
        }
        50%{
            transform: rotate(360deg)
        }
        100%{
            transform: rotate(0geg);
        }
    }
    main .product-container .product .product-price-off:hover .truck{
        animation-name: rotate;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

}

* {
    margin: 0%;
    font-family: "Roboto";
    padding: 0%;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
    padding: 2px;
    margin: 2px;
    text-decoration: none;
}

h3{
    padding: 2px;
    margin: 2px;
    align-self: center;
    font-size: 24px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column ;
}


.burger-menu{
    color: white;
    background-color: #1259c3;
    margin: auto;
    border-radius: 5px;
    font-size: 25px;
    text-align: center;
    width: 45px;
    height: 45px;
    padding: 8px;
    box-sizing: border-box;
   }

.main-header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:#EAC926;
    padding: 20px 10px 0 10px;
    font-size: 12px;
    width: 100%;
}


.img-cont img{
    width: 100%;
}

.logo-div{
    margin: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.logo-div img{
    width: 30%;  
}

.logo-div form{
    display: flex;
    align-items: center;
}

.logo-div form input{
    width: 100%;
    border-radius: 15%;
    height: 22px;
}

.logo-div form button{
    position: relative;
    right: 20px;
    height: 15px;
    background-color: transparent;
    color: (0,0,0,0.5);
    border-color: transparent;
}

.logo-div form i{
    background-color: transparent;
    color: (0,0,0,0.5);
}

.product{
    background-color: #fff;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-price-off{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    border-top: solid #ebebeb 1px;
    background-color: white;
    padding: 15px;
}

.product-container{
    background-color: #ebebeb;  
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    width: 90%;
}

.product img,
.product div {
    width: 100%;
}

.price{
    font-size: 18px;
}

.discount{
    font-size: 16px;
    color: #39b54a;
}

.description{
    display: none;
    padding-left: 5px;
    align-self: flex-start;
    font-size: 16px;
}

.truck{
    color: #39b54a;
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    background-color: #ffffff;
    width: 35px;
    height: 35px;
    border: solid #39b54a 1px;
    border-radius: 50%;
    color: #39b54a;
    font-size: 20px;
    padding:1%;
}

footer{
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.text-f{
    width: 70%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-par{
    background-color: white;
    padding: 2%;
    width: 20%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    min-width: 300px;

}

.footer-par h3{
    font-size: 20px;
}

.footer-icon{
    color: #1259c3;
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}

.copy-r{
    width: 100%;
    align-items: left;
    align-content: flex-end;
    padding-bottom: 5px;
}

.formulario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ebebeb;
    width: 40%;
    align-self: center;
    align-items: center;
    padding: 1%;
    margin: 3%;
    border-radius: 10%;
    min-width: 300px;  
}

.formulario input{
    border-radius: 20%;
}

.formulario div,.formulario input,.formulario button,.formulario label{
    margin: 5px;
}

.marca{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.marca input{
    margin-left: 35px;
    margin-right: 35px ;
}

.checkbox1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}


.azul input,.azul button{
    background-color:#1259c3 ;
    width: 100px;
    height: 40px;
}

.azul :hover{
    background-color: #0022AA ;
}

