@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

@media (min-width:361px){
    
}
@media (max-width:361px){
    .description{
        display: none;
    }
}
@media (min-width:769px){
    .burger-menu{
        display: none;
    }
    .img-cont img{
        display: none;
    }
}


* {
    box-sizing: border-box;
}

ul, al {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

h3{
    align-self: center;
    font-size: 24px;
}

body{
    font-family: 'Roboto';
}

main {
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    flex-direction: column  ;
}

footer{
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer-par{
    background-color: white;
    padding: 5%;
    width: 40%;
    margin: 5%;
    display: flex;
    flex-direction: column;

}

.burger-menu{
    color: white;
    background-color: #1259c3;
    margin: auto;
    border-radius: 5px;
    font-size: 25px;
    text-align: center;
    width: 45px;
    height: 45px;
    padding: 8px;
    box-sizing: border-box;
   }

.main-header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    background-color:#EAC926;
    font-size: 12px;
    font-family: 'Roboto';
    height: 30%;
}

.img-cont{
    display: flex;
    height: 20%;
    align-self: flex-end;
    max-height: 100px;
}
.img-cont img{
    width: 100%;
}

.div-nav{
    text-decoration: none;
    height: 10px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ul-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.ul-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.logo-div{
    margin: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo-div img{
    width: 30%;
    height: 20%;
}

.product{
    background-color: #fff;
    margin: 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-price-off{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    border-top: solid #ebebeb 1px;
    background-color: white;
    padding: 10%;
}

.product-container{
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.product img,
.product div {
    width: 100%;
}

.price{
    font-size: 18px;
}

.discount{
    font-size: 16px;
    color: #39b54a;
}

.description{
    padding-left: 5px;
    align-self: flex-start;
    font-size: 16px;
}

.product .description :hover{
    display: none;
}

.truck{
    color: #39b54a;
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    background-color: #ffffff;
    width: 35px;
    height: 35px;
    border: solid #39b54a 1px;
    border-radius: 50%;
    color: #39b54a;
    font-size: 20px;
    padding:1%;
}

.footer-icon{
    color: #1259c3;
    text-align: center;
    font-size: 4em;
    margin-bottom: 10px;
}

.formulario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ebebeb;
    width: 50%;
    align-self: center;
}

.azul :hover{
    background-color: #0022AA ;
}

